.font-mono {
    font-family: "Roboto Mono", monospace;
    color: $success;
  }
  
  .mt-36 {
    margin-top: 36px;
  }
  
  //14px
  .fs-7 {
    font-size: $font-size-base * 0.875;
  }
  
  //12px
  .fs-8 {
    font-size: $font-size-base * 0.75;
  }
  