<nav class="nav flex-column position-fixed">
    <h1><a href="#">answer</a></h1>
    <a class="nav-link link-dark fw-bold" href="#">
      <span class="material-icons me-3">
        assessment
      </span>Dashboard</a>
    <a class="nav-link link-dark fw-bold" href="#"> <span class="material-icons me-3">
        question_answer
      </span>Question</a>
    <a class="nav-link link-dark fw-bold" id="assignmentPage" href="./assignment.html"> <span class="material-icons me-3">
        assignment
      </span>Assignment</a>
    <a class="nav-link link-dark fw-bold" href="#"> <span class="material-icons me-3">
        video_library
      </span>Course</a>
    <a class="nav-link link-dark fw-bold" id="adminPage" href="./index.html"> <span class="material-icons me-3">
        supervisor_account
      </span>Admin</a>
    <a class="nav-link link-dark fw-bold" href="#"> <span class="material-icons me-3">
        settings
      </span>Settings</a>
    <div class="d-flex align-items-center mt-auto">
      <div class="flex-shrink-0 img-container">
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true" alt="man" class="img-fluid">
      </div>
      <div class="flex-grow-1 ms-3">
        <div class="name fw-bold">Andy Chen (You)</div>
        <div class="email fs-8">andy0401@mail.com</div>
      </div>
    </div>
  </nav>